:root{
    --Primario: #2679F6;
    --Segundario: #E83E36;
    --Hover: radial-gradient(145.58% 2815.02% at 97.81% 93.67%, #E83E36 0.48%, #2679F6 100%) ;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Rellenos: #1C1E22;
    --Bordes: #26292d;
    --text-input: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#menu{
    width: 100%;
    height: 110px;
    background: #000000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.3%;
    top: 0;
    left: 0;
}

.logo-menu-1{
    height: 90%;
}

.nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item{
    margin: 0 1.0rem;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-item a{
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

.nav-item a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    background: #2679F6;
    transition: .3s;
}

.nav-item a:hover::after{
    width: 100%;
}

.nav-item-1{
    margin: 0 1.0rem;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
}

.nav-item-1 a{
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

.nav-item-1 a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2679F6;
    transition: .3s;
}

.nav-boton{
    font-size: 15px;
    font-weight: 500;
    padding: 9px 23px;
    background: #2679F6;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.5s ease
}

.nav-boton:hover{
    background: #E83E36;
    color: #FFFFFF;
}

section{
    padding: 0 7.3%;
    top: 0;
    left: 0;
}

#seccion{
    width: 100%;
    height: 100%;
    background: black;
    float: left;
}

#agrupaciones{
    width: 90%;
    height: 500px;
    background-color: #2679F6;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    color: white;
    padding-top: 5%;
}

.circulos{
    display: flex; 
    text-align: center;
}

.circulos label{
    color: var(--Blanco);
    font-size: var(--md);
}

.circulos input{
    font-size: var(--md);
    padding: 9px 2px;
    background: var(--Blanco);
    border: none;
    border-radius: 8px;
    margin: 15px;
}

.circulos button{
    font-size: var(--md);
    padding: 9px 23px;
    background: var(--Segundario);
    color: var(--Blanco);
    border: 1px solid var(--Segundario);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.circulos button:hover{
    background: var(--Segundario);
    color: var(--Negro);
}

.circulo{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: var(--Negro);
    display: flex;
    margin: 0px auto;
    padding: 3%;
}


.resultado{
    width: 20rem;
    height: 45px;
    background: var(--Segundario);
    border-radius: 8px;
    margin: 0px auto;
    padding: 6px;
    text-align: center;
}

.resultado input{
    font-size: var(--md);
    padding: 5px 10px;
    background: var(--Blanco);
    border: none;
    border-radius: 8px;
}
